{% extends "base.html" %}

{% block title %}Borrow Book{% endblock %}

{% block content %}
    <h2 class="text-center">Borrow a Book</h2>
    <form method="POST" class="w-50 mx-auto">
        <div class="mb-3">
            <label class="form-label">Book:</label>
            <select name="book_id" class="form-select">
                {% for book in books %}
                <option value="{{ book.id }}">{{ book.title }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-3">
            <label class="form-label">Member:</label>
            <select name="member_id" class="form-select">
                {% for member in members %}
                <option value="{{ member.id }}">{{ member.name }}</option>
                {% endfor %}
            </select>
        </div>

        <button type="submit" class="btn btn-success w-100">Borrow</button>
    </form>
{% endblock %}
