{% extends "base.html" %}

{% block title %}Return Book{% endblock %}

{% block content %}
    <h2 class="text-center">Return a Book</h2>
    <form method="POST" class="w-50 mx-auto">
        <div class="mb-3">
            <label class="form-label">Select Book:</label>
            <select name="book_id" class="form-select">
                {% for transaction in borrowed_books %}
                <option value="{{ transaction.book.id }}">{{ transaction.book.title }}</option>
                {% endfor %}
            </select>
        </div>

        <button type="submit" class="btn btn-danger w-100">Return</button>
    </form>
{% endblock %}
